.login_view {
  height: calc(100vh - 100px);
  background-image: url("G145_kubiwodasuyagi_TP_V.jpg");
  color: white;
}

.sign-up_view {
  height: calc(100vh - 100px);
  background-image: url("N658_koyagi_TP_V.jpg");
}

.forgot_password {
  height: calc(100vh - 100px);
  background-image: url("togitsu79_TP_V.jpg");
  color: white;
}