.header {
  height: 100px;
  background-color: #583822;

  &__siteTitle {
    display: inline-block;

    & a {
      color: white;
      font-size: 50px;
      text-decoration: none;
      background-repeat: no-repeat;
      line-height: 100px;
    }
  }
  &__image {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-image: url("151014.jpg");
    background-repeat: no-repeat;
    background-size: 90px;
  }
  &__button {
    display: inline-block;
    & a {
      color: white;
      text-decoration: none; 
    }
  }
}

body {
  height: 100vh;
  background-image: url("NGasamabokujyo_TP_V.jpg")
}
  